/* 네비게이션 바 스타일 */
.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem;
    background-color: #ffffff; /* 배경색을 흰색으로 변경 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 3.125rem;
}

/* 네비게이션 바의 로고 이미지 */
.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 2.5rem;
    width: auto;
    cursor: pointer;
    margin-left: 0.625rem;
}

/* 네비게이션 아이템들 */
.nav-items {
    display: flex;
    align-items: center;
    gap: 1.5rem; /* 간격 조절 */
}

.nav-items a {
    color: rgb(11, 11, 11);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease, border-bottom 0.3s ease; /* 보더 애니메이션 추가 */
    padding: 0.5rem 0; /* 위아래 패딩 추가 */
}

.nav-items a:hover {
    color: #007bff;
    border-bottom: 2px solid #007bff; /* 밑줄 효과 추가 */
}

/* 반응형 디자인 */
@media (max-width: 31.25rem) {
    .nav-items {
        display: none;
    }

    .nav-logo img {
        height: 1.875rem;
    }
}

/* 버튼 스타일 */
.nav-items button {
    background-color: #007bff;
    border: none;
    color: #ffffff;
    font-size: 1rem; /* 16px */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* 호버 효과 추가 */
    padding: 0.375rem 0.625rem;
    border-radius: 0.25rem; /* 둥근 모서리 */
}

.nav-items button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* 호버 시 약간 확대 */
}

/* 사용자 정보 스타일 */
.nav-user-info {
    display: flex;
    align-items: center;
    font-size: 1rem; /* 크기 조정 */
    gap: 0.825rem; /* 간격 조절 */
}
